<div class="borrower">
   <p>Card number: {{cardNumber}}</p>
   <p>Name: {{fname}} {{minit}} {{lname}}</p>
   <p>Address: {{add1}} {{add2}}</p>
   <p>City, State, Zip: {{city}}, {{state}} {{zip}}</p>
   <p>Phone: {{phone}}</p>
   <p>Email: {{email}}</p>
   <p>Checked out items: {{record}}</p>
   <hr>
</div>