<tr>
   <th scope="row">{{recordId}}</th>
   <td>{{title}}</td>
   <td>{{author}}</td>
   <td>{{format}}</td>
   <td>{{classification}}</td>
   <td>{{checkoutStatus}}</td>
   <td>{{dueDate}}</td>
</tr>