<div class="record">
   <hr>
   <img src="{{imageUrl}}" alt="Record Image">
   <p>Title: {{title}}</p>
   <p>Author: {{author}}</p>
   <p>Subject: {{subject}}</p>
   <p>Classification: {{classification}}</p>
   <hr>
</div>